<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
</head>
<body>
    <h3 id="button">search for: Harry Potter</h3>
    <div id="test">results are in:</div>
</body>
<script>

document.querySelector("#button").addEventListener('click',async () => {

    const result= await (await fetch("./search/Harry Potter").json());
    result.map( (item) =>document.querySelector("#test").innerHTML+=item.title )
    
    await console.log(await result.json());
}) 

</script>
</html>